* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: auto;
  
 }
 /* Header*/

.banner{ 
    width: 100%;
}.main-header {
    background-color: #EAC926;
    padding: 15px;
    margin: 0;
    width: 100%;
 }
 .logo {
    width: 45vw;
    text-align: left;
    margin: 0
 }
 .banner{ 
    width: 100%;
}.search-bar fieldset button {
    border: none;
    background-color: white;
    width: 15%;
    color: #666;
    font-size: 12px;
    border-left: 0.1px solid #666;
    padding:5px;
    margin: auto
 
 }


.burger-button{
    text-align: center;
    color: rgb(255,255,255);
    background-color:#003f88;
    font-size: 16px;
    max-width: 50px;
    padding: 12px ;
    box-sizing: border-box; 
    border-radius: 8px;
    display: block;
    margin: auto;
    position: relative;
    top: 190px;
 }
 .main-header-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}
.logo{
    width: 200px;
    padding-right:10px
}
form.search-bar{
    background-color: white;
    padding: 5px;
    display: flex;
    height:40px;
    width: 55%
}


.search-bar fieldset{
    width:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    border: none;
    outline: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar fieldset input{
    border: none;

    padding-right: 0

}
.search-bar fieldset button{
    border: none;
    background-color: white;
    width: 15%;
    color: #666;
    font-size: 12px;
    border-left: 0.1px solid #666;
    padding-left:5px;


}
.txt-header {
    max-width: 250px;
    text-align: right;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
}
.burger-button{
    display: none
}
.main-navbar{
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-weight: 500;
    border: none;
    outline: none;
    font-style: none;
    color : black;
}
.main-navbar ul {
    display: flex;
    font-weight: 500; 
     border: none;
    outline: none;
    font-style: none;
    color : black;
    
    
}
.left-navbar{
    display: inline-block ;
    font-weight: 500; 
     
}
.main-navbar ul {
    margin: 5px;  
    border: none;
    outline: none;
    font-style: none;
}
/* MAIN */
.nuevouser{
    width: 100%;
    background-color: #ebebeb;
    width: 100%;
    height: 54vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 18px;


    
}
.relleno{
    margin: 100px;
    margin-top: 28px;
    width:80%;
    border-radius: 0.5em;
    height: 35px;
    border-radius: 2em;
}

 
.botonfinal{
    background-color: #003f88;
    font-size: 17px;
    color: white;
    min-width: 47%;
    padding: 10px;
}
/* FOOTER */
.footer-final{ 
    display: block;
}







@media  (min-width: 768px) {
    /* HEADER */
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px
    }
    .logo{
        width: 200px;
        padding-right:10px
    }
    form.search-bar{
        background-color: white;
        padding: 5px;
        display: flex;
        height:40px;
        width: 35%
    }
    .search-bar fieldset{
        width:100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
        border: none;
        outline: none;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .search-bar fieldset input{
        border: none;
 
        padding-right: 0
 
    }
    .search-bar fieldset button{
        border: none;
        background-color: white;
        width: 15%;
        color: #666;
        font-size: 12px;
        border-left: 0.1px solid #666;
        padding-left:5px;
 
 
    }
    .txt-header {
        max-width: 250px;
        text-align: right;
        font-weight: 400;
        font-size: 20px;
        align-items: center;
    }
    .burger-button{
        display: none
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .main-navbar ul {
        display: flex
    }
    .main-navbar ul li {
        margin: 0 5px
    }
    /*main*/
    .nuevouser{
        width: 100%;
        background-color: #ebebeb;
        width: 100%;
        height: 54vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 18px;
    
    
        
    }
    /*FOOTER*/
   
 }
@media  (min-width: 1024px) {
    /*HEADER*/
.main-header-top-bar, .main-navbar{
    max-width: 1200px;
    margin: auto;
    align-items: center;
}
.logo{
    width: 250px;
}
form.search-bar{

    width: 32%;

}
.txt-header {
    max-width: none;

}
.main-navbar ul li {
    margin: 0 10px
}
.main-navbar a {
    font-size: 19px
}
/*MAIN */
.relleno{
    margin: 100px;
    margin-top: 28px;
    width:80%;
    border-radius: 0.5em;
    height: 50px;
    border-radius: 2em;
}
/*FOOTER*/

.footer-final{
    display:flex;
    
}
}
