<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creá tu cuenta</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/register.css">

</head>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creá tu cuenta</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
  
    <header class="main-header">
        <div class="main-header-top-bar">
            <figure>
                <a href="/"><img src="/imagenes/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo"></a>
            </figure>
            <form action="/" method="get" class="search-bar">

                <fieldset>
                    <input type="text" name="search" id="searchBar" placeholder="Buscar productos, marcas y más">
                    <button><i class="fa fa-search"></i></button>
                </fieldset>
            </form>

            <h2 class="txt-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
                crédito</h2>
        </div>

        <a href="" class="burger-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
  <main>
       <div class="nuevouser ">
                <input class="relleno"type="text" name="Nombre y apellido " placeholder=" Nombre y apellido " required>
     
                <input class="relleno" type="text" " email placeholder="Elegí contraseña" required>
              <input class="botonfinal"type="submit" class="btn btn-black" name="Enviar">

         </div>


      



</main>




    <footer>
<section class="footer-final">
        <section class="final 1">

            <i class="fa-solid fa-credit-card tarjetas 1 "></i>
            <h3 class="pagar">pagá con tarjeta de credito</h3>
            <p> con mercado libre cash , tenés cuotas sin interés con tarketa o efectivo en puntos de pago ¡Y
                siempre es
                seguro !</p>
        </section>
        <section class="final 2">
            <p class="icono-footer "><i class="fa-solid fa-gift tarjetas 2 "></i></p>
            <h3 class="Envio">Envío gratis desde $2.500</h3>
            <p> sólo por estar registrad@ en mercado libre tenés envios gratis en miles de productos. Es un
                beneficio de productos. Es un beneficio de MercadoPuntos</p>
        </section>
        <section class="final 3">

            <p class="icono-footer "><i class="fa-solid fa-user-shield azul tarjetas 3"></i></p>
            <h3 class="regalete">seguridad de principio a fin</h3>
            <p>¿ No te gusta ? ¡Devolvelo! En mercadoLiebre no hay nada que no puedas hacer porque estás siempre
                protegido
            </p>
            <section>Copyright © 1999-2020 MercadoLiebre S.R.L.</section>

        </section>
</section>

    </footer>


</body>

</html>